.about-cat {
  display: flex;
  flex-wrap: wrap;
}

.about-cat__text {
  font-family: $title-font;
  padding: 25px 40px 38px 20px;
  margin: 0;
  text-transform: uppercase;
}

.about-cat__form {
  width: 100%;
  font-family: $title-font;
  font-size: 16px;
  line-height: 18px;
  padding: 0 20px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.about-cat__form p {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
}

.about-cat__input {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 13px;
  margin-left: 12px;
}

.about-cat__name label {
  padding-top: 14px;
}

.about-cat__weight label {
  min-width: 64px;
  padding-top: 14px;
}

.about-cat__age label {
  min-width: 96px;
  padding-top: 14px;
}

.about-cat-wrapper {
  width: 100%;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
}

.about-cat__programm {
  font-family: $title-font;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-left: 27px;
  text-transform: uppercase;
  border: none;
}

.about-cat__programm ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-cat__programm li {
  margin-bottom: 24px;
}

.about-cat__programm label {
  position: relative;
  padding-left: 38px;
}


input.filter-input[type="radio"]+span {
  position: absolute;
      display: block;
      left: -5px;
      top: -1px;
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background-color: #ffffff;
      border: 8px solid #ffffff;
      box-shadow: 0 0 5px #cecece;
  }

input.filter-input[type="radio"]:checked+span {
  background-color: #68b738;
}
