.all-goods {
  max-height: 211px;
  border-top: 1px solid $color-border;
  text-align: center;
}

.all-goods__title {
  display: block;
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  color: $color-title;
  font-weight: normal;
  text-transform: uppercase;
  padding-top: 27px;
  margin-bottom: 6px;

  &::before {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    background: url("../img/icon-plus.svg") no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }
}

.all-goods__text {
  font-size: 12px;
  line-height: 16px;
}

.all-goods__button {
  font-size: 16px;
  line-height: 20px;
  color: $color-text;
  background-color: $color-bg-block;
  padding-top: 11px;
  margin-top: 20px;
  margin-bottom: 25px;
  &:hover{
    background-color: #ebebeb;
  }
  &:active{
    color: #c3c3c3;
  }
}
@media (min-width: $tablet-width) {
  .all-goods {
    max-height: 100%;
    border: none;
    padding-top: 85px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .all-goods-wrapper {
    min-height: 431px;
    border: 1px solid $color-border;
  }

  .all-goods__title {
    font-size: 20px;
    max-width: 50%;
    padding-top: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;

    &::before {
      width: 60px;
      height: 60px;
      opacity: 0.3;
      margin-bottom: 50px;
    }
  }

  .all-goods__text {
    display: block;
    max-width: 70%;
    font-size: 16px;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 85px;
  }

  .all-goods__button {
    max-width: 250px;
  }
}
@media (min-width: $desktop-width) {
  .all-goods {
    padding-left: 40px;
    padding-right: 38px;
  }
    .all-goods__title {
      max-width: 70%;
    }

    .all-goods__button {
      min-width: 170px;
      max-width: 170px;
      margin-left: auto;
      margin-right: auto;
    }
}
