.all-goods__title {
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  color: $color-title;
  font-weight: normal;
  text-transform: uppercase;
  &::before {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    background: url('../img/icon-plus.svg');
    background-position: top center;
  }
}

.all-goods__text {
  font-size: 12px;
  line-height: 16px;
}

.all-goods__button {
  font-size: 16px;
  line-height: 20px;
  color: $color-text;
  background-color: #f2f2f2;
  padding-top: 11px;
}
