.company-good__wrapper {
  background:
  url("../img/index-background-mobile@1x.jpg"),
  linear-gradient(to bottom, $color-bg 306px, #ffffff 174px);
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  min-height: 480px;
  border-top: 2px solid $color-border;
}

.company-good__container {
  @include mobile-center;
  margin-bottom: 22px;
}

.company-good__main-title {
  @include section-title(#ffffff, 36px, 36px);
  padding: 29px 0 22px;
  margin: 0;
}

.company-good__tagline {
  font-family: $title-font;
  color: #ffffff;
  line-height: 14px;
  text-transform: uppercase;
  padding: 0 0 30px;
  margin: 0;
}

.company-good_button {
  padding-top: 10px;
}

.company-good__program {
  @include mobile-center;
}
@media (min-width: $tablet-width) {
  .company-good__wrapper {
    background: #ffffff;
    background-image: none;
    border-top: none;
  }

  .company-good__container {
    position: relative;
    @include tablet-center;
    text-align: center;
    margin-bottom: 0;
  }

  .company-good__main-title {
    @include section-title($color-title, 60px, 60px);
    text-align: left;
    max-width: 505px;
    padding-top: 35px;
    padding-bottom: 42px;
    padding-left: 87px;
  }

  .company-good__tagline {
    @include tablet-fonts font-family: $title-font;
    color: $color-title;
    text-align: left;
    text-transform: uppercase;
    padding-left: 87px;
    padding-bottom: 20px;
  }

  .company-good__image {

  }

  .company-good_button {
    @include tablet-fonts;
    position: absolute;
    top: 264px;
    left: 118px;
    height: 52px;
    padding-top: 17px;
  }

  .company-good__program {
    @include tablet-center;
  }
}
@media (min-width: $desktop-width) {

  .company-good {
    margin-top: -140px;
    z-index: -1;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .company-good__wrapper {
    background:
     url("../img/index-background-desktop@1x.jpg") calc(50% + 360px),
    linear-gradient(to right, #ffffff 50%, $color-bg 50%) center;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-attachment:  scroll;
    background-size: auto, 1440px;
    background-clip: content-box;
    margin-left: auto;
    margin-right: auto;
  }

  .company-good__container {
    position: relative;
    @include desktop-center;
    max-width: 1300px;
    min-height: 695px;
    margin-bottom: 83px;

  }
  .company-good__main-title  {
    max-width: 500px;
    padding-top: 220px;
    padding-left: 80px;
    z-index: -15;
  }
  .company-good__tagline {
    padding-bottom: 50px;
    padding-left: 80px;
  }

  .company-good__image {
    position: absolute;
    top: 142px;
    left: calc(50%);
    transform: translate(-160px);
    width: auto;
    height: 499px;

  }

  .company-good_button {
    position: relative;
    max-width: 245px;
    height: 55px;
    top: 0;
margin-left: -40px;

  }
}
