.copyright__logo {
  display: flex;
  min-height: 78px;
  justify-content: space-between;
  margin: auto;
  font-size: 16px;
  line-height: 16px;
  color: $color-text;
  margin-right: -8px;
  padding: 0;
}

.copyright__title {
  margin: 0;
  padding: 0;
  padding-top: 28px;
}

.copyright__image {
  padding-top: 16px;
}

@media (min-width: $tablet-width) {
  .copyright__title {
    margin-right: 13px;
  }
}
