.example-wrapper {
  @include mobile-center;
  min-height: 705px;
}

.example__title {
  @include section-title;
  margin: 0;
  padding: 0;
  padding-top: 19px;
}

@media (min-width: $tablet-width) {
  .example {
    border-top: 1px solid $color-border;
    min-height: 1080px;
  }

  .example-wrapper {
    @include tablet-center;
    min-height: 658px;
  }

  .example__title {
    @include section-title($color-title, 60px, 60px);
    padding-top: 42px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    border-top: none;
    min-height: 0;
    height: 679px;
  }

  .example-wrapper {
    @include desktop-center;
  }

  .example__title {
    padding-top: 90px;
  }
}
