.nav-toggle {
  min-width: 24px;
  min-height: 18px;
  background: url('../img/icon-mobile-menu.svg') no-repeat;
  // repeating-linear-gradient(#ffffff 2px, #111111 6px);
  border: 0;
  margin-top: auto;
  margin-bottom: auto;
}

@media (min-width: $tablet-width) {
  .nav-toggle {
    display: none;
  }
}
