
.program__list {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

.program__item {
  background-color: #f2f2f2;

  padding-top: 33px;
  padding-left: 20px;
  padding-right: 20px;
}

.program__title {
  position: relative;
  display: block;
  width: 100%;
  font-family: $title-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  color: $color-title;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-left: 73px;
  &--slim::before {
    content: " ";
    position: absolute;
    display: block;
    left: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    background: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
    &--slim::after {
      content: " ";
      position: absolute;
      display: block;
      top: 2px;
      left: 0;
      z-index: 0;
      width: 50px;
      height: 50px;
      background-color: $color-bg-btn;
      border-radius: 50%;
    }

  &--pro::before {
    content: " ";
    position: absolute;
    display: block;
    left: -8px;
    z-index: 1;
    width: 67px;
    height: 28px;
    background: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  &--pro::after {
    content: " ";
    position: absolute;
    display: block;
    top: -12px;
    left: 0;
    z-index: 0;
    width: 50px;
    height: 50px;
    background-color: $color-bg-btn;
    border-radius: 50%;
  }
}

.program__button {
  font-family: $title-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.program__catalog{
  &::after{
    content: " ";
    display: block;
    width: 24px;
    height: 11px;
    background: url("../img/icon-right-arrow-long.svg");
  }
}

@media (min-width: 768px) and (max-width: 1299px) {

  .program__title {
    padding: 0;
    &--slim::before,
    &--slim::after {
      display: none;
      }
    &--pro::before,
    &--pro::after {
      display: none;
      }
    }

    .program__item {
      padding-left: 50px;
      padding-right: 280px;
      &--slim::before {
        content: " ";
        position: absolute;
        display: block;
        right: 0;
        z-index: 1;
        width: 140px;
        height: 195px;
        background: url("../img/icon-cat-slim.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
        &--slim::after {
          content: " ";
          position: absolute;
          display: block;
          top: 0;
          right:  0;
          z-index: 0;
          width: 200px;
          height: 200px;
          background-color: $color-bg-btn;
          border-radius: 50%;
        }

      &--pro::before {
        content: " ";
        position: absolute;
        display: block;
        right: 0;
        z-index: 1;
        width: 268px;
        height: 112px;
        background: url("../img/icon-cat-pro.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
      &--pro::after {
        content: " ";
        position: absolute;
        display: block;
        top: 0;
        right:  0;
        z-index: 0;
        width: 200px;
        height: 200px;
        background-color: $color-bg-btn;
        border-radius: 50%;
       }
      }

      .program__item {
        padding-left: 50px;
        padding-right: 280px;

        &--slim::before {
          content: " ";
          position: absolute;
          display: block;
          right: 0;
          z-index: 1;
          width: 140px;
          height: 195px;
          background: url("../img/icon-cat-slim.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
          &--slim::after {
            content: " ";
            position: absolute;
            display: block;
            top: 0;
            right:  0;
            z-index: 0;
            width: 200px;
            height: 200px;
            background-color: $color-bg-btn;
            border-radius: 50%;
          }

        &--pro::before {
          content: " ";
          position: absolute;
          display: block;
          right: 0;
          z-index: 1;
          width: 268px;
          height: 112px;
          background: url("../img/icon-cat-pro.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
        &--pro::after {
          content: " ";
          position: absolute;
          display: block;
          top: 0;
          right:  0;
          z-index: 0;
          width: 200px;
          height: 200px;
          background-color: $color-bg-btn;
          border-radius: 50%;
         }
        }
}


@media (min-width: $tablet-width) {

  .program__list-wrapper {
    position: relative;
  }

  .program__title {
    @include tablet-fonts(36px, 37px);
  }

  .program__item {
    font-size: 16px;
    line-height: 24px;

    .program__button {
      font-family: $title-font;
      @include tablet-fonts;
    }
  }

  @media (min-width: $desktop-width){
    .program__list {
      display: flex;
      padding: 0 70px;
    }
    .program__list-wrapper {
      margin-left: 40px;
      margin-right: 40px;
    }

    .program__title {
      @include tablet-fonts(36px, 37px);
      padding: 0;
      padding-left: 210px;
      }

    .program__item {
      padding-right: 50px;
    }
  }
}
