.program__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.program__item {
  background-color: $color-bg-block;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 15px;
  }
}

.program__title {
  position: relative;
  display: block;
  width: 100%;
  font-family: $title-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  color: $color-title;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 29px 71px;

  &--slim::before {
    content: " ";
    position: absolute;
    display: block;
    left: 3px;
    top: -10px;
    z-index: 1;
    width: 50px;
    height: 50px;
    background: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--slim::after {
    content: " ";
    position: absolute;
    display: block;
    left: 2px;
    top: -8px;
    z-index: 0;
    width: 50px;
    height: 50px;
    background-color: $color-bg-btn;
    border-radius: 50%;
  }

  &--pro::before {
    content: " ";
    position: absolute;
    display: block;
    left: -7px;
    top: 4px;
    z-index: 1;
    width: 67px;
    height: 28px;
    background: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--pro::after {
    content: " ";
    position: absolute;
    display: block;
    top: -8px;
  left: 2px;
    z-index: 0;
    width: 50px;
    height: 50px;
    background-color: $color-bg-btn;
    border-radius: 50%;
  }

}

.program__description {
  padding: 0 0 22px;
  margin: 0;
  border-bottom: 1px solid #d9d9d9;
}

.program__button {
  display: inline-block;
  font-family: $title-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
  &:hover .program__catalog::after {
    width: 33px;
        background: url("../img/icon-right-arrow-verylong.svg") no-repeat;
    }
    &:active {
      opacity: 0.3;
    }
    &:active .program__catalog::after {
      width: 33px;
          background: url("../img/icon-right-arrow-verylong.svg") no-repeat;

      }
}

.program__catalog {
  display: inline-block;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 23px;
  &::after {
    content: " ";
    display: inline-block;
    width: 24px;
    height: 11px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat;
    margin-left: 12px;
  }


  }


@media (min-width: 768px) and (max-width: 1299px) {
  .program__item {
    position: relative;
  }

  .program__title {
    padding: 44px 0 22px;

    &--slim::after,
    &--slim::before {
      display: none;
    }

    &--pro::after,
    &--pro::before {
      display: none;
    }
  }

  .program__item-wrapper {
    padding-left: 33px;
    padding-right: 262px;

    &--slim::before {
      content: " ";
      position: absolute;
      display: block;
      top: 75px;
      right: 91px;
      z-index: 1;
      width: 141px;
      height: 196px;
      background: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &--slim::after {
      content: " ";
      position: absolute;
      display: block;
      top: 90px;
      right: 61px;
      z-index: 0;
      width: 200px;
      height: 200px;
      background-color: $color-bg-btn;
      border-radius: 50%;
    }

    &--pro {
      padding-right: 295px;
    }

    &--pro::before {
      content: " ";
      position: absolute;
      display: block;
      top: 134px;
      right: 28px;
      z-index: 1;
      width: 268px;
      height: 112px;
      background: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &--pro::after {
      content: " ";
      position: absolute;
      display: block;
      top: 90px;
      right: 60px;
      z-index: 0;
      width: 200px;
      height: 200px;
      background-color: $color-bg-btn;
      border-radius: 50%;
    }
  }
}
@media (min-width: $tablet-width) {
  .program__list-wrapper {
    position: relative;
  }

  .program__title {
    @include tablet-fonts(36px, 37px);
  }

  .program__item {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 36px;
    margin-bottom: 30px;
  }

  .program__description {
    padding-bottom: 38px;
    border-bottom: none;
  }

  .program__button {
    font-family: $title-font;
    @include tablet-fonts;
  }

  .program__catalog {
    &::after {
      margin-left: 23px;
      background-position: left -1px;
    }
  }
}
@media (min-width: $desktop-width) {
  .program__list {
    display: flex;
    padding: 0;
    justify-content: space-around;
  }

  .program__title {
    @include tablet-fonts(36px, 37px);
    padding: 45px 0 0 163px;

    &--slim::before {
      left: -4px;
      top: 8px;
      z-index: 1;
      width: 104px;
      height: 99px;
    }

    &--slim::after {
      left: -1px;
      top: 14px;
      z-index: 0;
      width: 100px;
      height: 100px;
    }

    &--pro::before {
      left: -20px;
    top: 13px;
    z-index: 1;
    width: 135px;
    height: 104px;
    }

    &--pro::after {
      left: -1px;
      top: 14px;
      z-index: 0;
      width: 100px;
      height: 100px;
    }
  }

  .program__item {
    min-height: 370px;
    max-width: 570px;
    padding-left: 53px;
    padding-right: 54px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;

    &:last-child {
      margin-bottom: 38px;
    }
  }

  .program__description {
    padding-top: 71px;
    padding-bottom: 11px;
  }
}
