@mixin section-title($font: #111111, $height: 60px) {
  font-family: $title-font;
  color: $font;
  font-size: 36px;
  font-weight: 400;
  line-height: $height;
}

@mixin mobile-center {
  max-width: $mobile-width;
  margin-left: auto;
  margin-right: auto;
}
