$main-font: "Arial", "PT Sans", sans-serif;
$title-font: 'Oswald', 'Arial', sans-serif;
$color-title: #111111;
$color-text: #444444;
$color-bg-btn: #68b738;
$tablet-width: 768px;
$desktop-width: 1440px;
